<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
</head>
<body>
<h1>My Library</h1>
    <ul>
        {% if bk == []: %}
            <li>Library is Empty.</li>
        {% else: %}
        {% for rw in bk %}
        <li>
            <a href="{{ url_for('delete', id2=rw.id) }}">Delete</a>
            {{ rw.title}} - {{ rw.author}} - {{ rw.rating}}/10
            <a href="{{ url_for('edit', id=rw.id) }}">Edit-Rating</a>
        </li>
        {% endfor %}
        {% endif %}
    </ul>
    
<a href = {{url_for('add')}}>Add New Book</a>
</body>
</html>